
.container {
  margin: 0 auto;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
  padding: 40px 0;

  .slider {
    display: flex;
    align-items: center;
    gap: 80px;
    animation: scroll 25s linear infinite;
    width: max-content;

    img {
      height: 25px;
      width: auto;
      object-fit: contain;
      user-select: none;
      filter: grayscale(100%);
      opacity: 0.7;
      transition: all 0.3s ease;

      &:hover {
        filter: grayscale(0%);
        opacity: 1;
        transform: scale(1.05);
      }

      @media (max-width: 768px) {
        height: 20px;
        gap: 30px;
      }

    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
