.shopBtn {
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  max-width: 210px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  transition: background 0.3s ease, transform 0.2s ease;

  background-color: var(--bg-color, #000);
  color: var(--text-color, #fff);

  &:hover {
    background-color: var(--hover-color, #484848);
    transform: translateY(-2px);
  }

  &.usm {
    padding: 6px 20px;
    font-size: 14px;
  }

  &.sm {
    padding: 10px 25px;
    font-size: 14px;
  }

  &.md {
    padding: 20px 33px;
    font-size: 16px;
  }

  &.lg {
    padding: 20px 60px;
    font-size: 18px;
  }

  &.xl{
    padding: 20px 70px;
    font-size: 18px;
  }
}
