.container {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  background-color: #dadada;

  .imgBox {
    flex: 1;
    min-width: 300px;
    height: 500px;
    @media (max-width: 768px) {
      background-color: #f8f8f8;
    }

    img {
      width: 100%;
      max-width: 820px;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  @media (max-width: 1024px) {
    gap: 30px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .imgBox {
      height: auto;

      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  flex: 1;
  padding: 20px;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
}

.category {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #484848;
}

.title {
  font-family: "Volkhov", serif;
  font-size: 48px;
  font-weight: 400;
  color: #484848;

  @media (max-width: 768px) {
    font-size: 36px;
    text-align: center;
  }
}

.tagline {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #8a8a8a;

  @media (max-width: 768px) {
    font-size: 16px;
    text-align: center;
  }
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #484848;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 14px;
    text-align: center;
  }
}

.sizes {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: 768px) {
    justify-content: center;
  }

  span {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #484848;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.price {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #484848;

  @media (max-width: 768px) {
    font-size: 20px;
    text-align: center;
  }
}
