.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.footer {
  background: #efe7da;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerContainer {
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.textBlock {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
    color: #484848;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #8a8a8a;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .inputBox {
    box-shadow: 0px 3.02px 3.15px 0px rgba(0, 0, 0, 0.01),
      0px 13.28px 6.52px 0px rgba(0, 0, 0, 0.02),
      0px 32.6px 13px 0px rgba(0, 0, 0, 0.03),
      0px 62.79px 25.48px 0px rgba(0, 0, 0, 0.04),
      0px 105.65px 46.85px 0px rgba(0, 0, 0, 0.05),
      0px 163px 80px 0px rgba(0, 0, 0, 0.06);
    color: #8a8a8a;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    text-align: left;
    background: #fff;
    font-family: "Poppins", sans-serif;
  }

  .subscribeBtn {
    margin-top: 30px;
    padding: 20px 44px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #484848;
    }
  }
}

.bottom {
  width: 100%;
  border-top: 1px solid #dedfe1;
  margin-top: 50px;
  padding-top: 30px;
}

.bottomContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-size: 32px;
  color: #b29079;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #484848;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: #ae4b08;
    }
  }
}

.copy {
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #484848;
}

@media (max-width: 768px) {
  .manImg {
    display: none;
  }

  .footerContainer {
    flex-direction: column;
  }

  .textBlock h2 {
    font-size: 36px;
  }

  .menu {
    justify-content: center;
    gap: 20px;
  }
}
